<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CucumberSuite">
	<listeners>
		<listener class-name="testnglisteners.ITestListeners"></listener>
		<listener class-name="testnglisteners.Transformer"></listener>
	</listeners>
    <test name="CucumberTest">
        <classes>
            <class name="runner.TestNgRunner" />
        </classes>
    </test>
</suite>